body {
  max-width: 1600px;
  margin: 0 auto;
  width: 100%;
  height: auto !important;
  position: relative;
  background-color: #fff !important;
  opacity: 1 !important;
  box-sizing: border-box;
  font-family: 'Caveat', cursive, sans-serif;
  /* font-family: 'Archer A', 'Archer B', 'Segoe UI', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', */
}
