body {
  max-width: 1600px;
  margin: 0 auto;
  width: 100%;
  height: auto !important;
  position: relative;
  background-color: #fff !important;
  opacity: 1 !important;
  box-sizing: border-box;
  font-family: 'Indie Flower', cursive, sans-serif;
  background-image: linear-gradient(
    to right,
    rgb(142, 212, 232) 0px,
    rgb(142, 230, 235) 50%,
    rgb(143, 123, 232) 100%
  );
  padding: 1rem 2rem;
}
