body {
  margin: 0;
  height: 100vh;
  font-family: 'Redressed', BlinkMacSystemFont, 'Segoe UI', 'Oxygen', 'Ubuntu',
    'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  letter-spacing: 1px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: hsla(154, 100%, 76%, 1);

  background: linear-gradient(
    45deg,
    hsla(154, 100%, 76%, 1) 0%,
    hsla(234, 100%, 83%, 1) 95%,
    hsla(288, 100%, 81%, 1) 100%
  );

  background: -moz-linear-gradient(
    45deg,
    hsla(154, 100%, 76%, 1) 0%,
    hsla(234, 100%, 83%, 1) 95%,
    hsla(288, 100%, 81%, 1) 100%
  );

  background: -webkit-linear-gradient(
    45deg,
    hsla(154, 100%, 76%, 1) 0%,
    rgb(255, 201, 201) 100%
  );

  filter: progid: DXImageTransform.Microsoft.gradient( startColorstr="#84FFC9", endColorstr="#AAB2FF", GradientType=1 );
}
